@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@500&display=swap');

body {
    background-color: rgb(255, 255, 255);
    width: 100vw;
}

/* ---------- Navbar ---------- */

.navbar {
    margin-top: 5%;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(46, 16, 4);
}

.navbar-toggler {
    color: rgb(46, 16, 4)!important;
    border-color: rgb(46, 16, 4)!important;
}

.bg-light {
    background-color: rgb(183, 141, 121)!important;
}

.navbar-light:hover .navbar-nav:hover .nav-link:hover {
    color: rgb(37,67,235);
}

.navbar-expand-lg .navbar-collapse {
    background-color: rgb(183, 141, 121);
}

.navbar-toggler {
    margin-left: 80%;
}

.bg-primary {
    background-color: rgb(46, 16, 4)!important;
}

/* ------------------- Logo -----------------------*/

.logo {
    width: 40vw;
    margin-left: 7%;
}

/* --------- Carousel ------------ */

.carousel {
    max-width: 100vw;
    max-height: 200vh;
    align-content: center;
    margin-left: 30%;
    margin-top: 7%;
}

/* --------- Headline ------------ */


.header-container {
    background-color: rgb(46 16 4);
}

.headline {
    font-family: ABeeZee;
    font-size: 25px;
    margin-top: 15%;
    margin-bottom: 15%;
    color: rgb(46, 16, 4);
    padding: 0;
    text-align: center;
}

/* ------------ About section ---------------- */

.about-container {
    background-color: rgb(255, 255, 255);
}

h1 {
    font-family: 'Cormorant Unicase', serif;
    margin-left: 50%;
    
}

.about-p {
    font-family: ABeeZee;
    color: rgb(46, 16, 4);
    width: 60vw;
    margin-left: 33%;
    margin-top: 5%;
    margin-bottom: 11%;
}

.about-header {
    color: rgb(180, 0, 0);
    margin-left: 67%;
    margin-top: 7%;
}

.container {
  overflow: hidden;
}

/* ----------------Search section------------------ */

.map-container {
    background-color: rgb(183, 141, 121);
    padding-bottom: 10%;
}

#map {
    width: 80vw;
    height: 80vh;
    margin-left: 9%;
    border-width: 3px;
    border-color:  rgb(46, 16, 4);
}

.map-header {
    color: rgb(37,67,235);
    margin-left: 1%;
    margin-top: 11%;
}

.map-p {
    color: rgb(46, 16, 4);
    font-family: ABeeZee;
    font-size: 1.25rem;
    margin-left: -50%;
}

.bg {
  width:100%;
  height: 200px;
  border-radius: 0 0 50% 50%;
  background-color: rgb(183, 141, 121);
  margin-top:-130px;
}

/* -------------- Places to go section -------------- */

.places-header {
    color: rgb(180, 0, 0);
    margin-left: 42%;
    margin-top: 7%;
}

.places-p {
    color: rgb(46, 16, 4);
    margin-left: 5%;
    font-family: ABeeZee;
    font-size: 1.25rem;
    text-align: center;
}

.places-container {
    margin-bottom: 7%;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card {
    margin-top: 5%;
    border-color: rgb(46, 16, 4);
}

.card-title {
    font-family: ABeeZee;
    font-size: 1rem;
    text-align: center; 
    color: rgb(46, 16, 4);
}

.card-text {
    font-family: ABeeZee;
    font-size: 0.75rem;
    text-align: center;
    color: rgb(46, 16, 4);
}

.card-footer {
    padding: .75rem 1.25rem;
    background: rgb(255, 255, 255);
    border: none;
}

/* Card social links */

a {
    color: rgb(46, 16, 4);
    text-align: center;
}

a:hover {
    color: rgb(37,67,235);
}

.d-block {
    margin-top: 10%;
    height: 50vh;
    object-fit: cover;
}

.carousel {
    max-height: 80vh;
    max-width: 40vw;
}

/* --------Contact section--------------- */

.contact-container {
    background-color: rgb(183, 141, 121);
}

.contact-header {
    color: rgb(37,67,235);
    margin-left: 44%;
    margin-top: 7%;
}

.contact-p {
    color: rgb(46, 16, 4);
    margin-top: 2%;
    margin-left: 29%;
    font-family: ABeeZee;
    font-size: 1.25rem;
    text-align: center;
}

/* ---------------------------Contact Form------------------------------ */

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: rgb(46, 16, 4);
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: rgb(46, 16, 4);
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: rgb(46, 16, 4);
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: rgb(46, 16, 4);
}

input::placeholder, textarea::placeholder {
  color: rgb(46, 16, 4);
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: rgb(46, 16, 4);
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: rgb(46, 16, 4);
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: rgb(46, 16, 4);
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #fff;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #fff;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #fff;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: rgb(46, 16, 4);
}

input:hover::placeholder, textarea:hover::placeholder {
  color: rgb(46, 16, 4);
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: rgb(46, 16, 4);
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #fff;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: rgb(46, 16, 4);
}

.form {
  font-family: ABeeZee, sans-serif;
  background: #fff;
  color: rgb(46, 16, 4);
}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: rgb(46, 16, 4);
  
  border: solid 1px rgb(46, 16, 4);
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: rgb(46, 16, 4);
  color: rgb(37,67,235);
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: rgb(46, 16, 4);
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  
  border: solid 1px rgb(46, 16, 4);
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: rgb(46, 16, 4);
  color: rgb(37,67,235);
}

#submit {
  width: 470px;
  
  padding: 0;
  margin: -5px 0px 0px 0px;
  
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: rgb(46, 16, 4);
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px rgb(46, 16, 4);
  border-top: none;
}

#submit:hover {
  color: rgb(37,67,235);
  background: #fff;
}

/* -------------Media Queries------------- */

@media(max-width: 1161px) {
    .contact-p {
    margin-left: 1%;
    }

    .logo {
    width: 50vw;
    margin-left: 5%;
    margin-bottom: 5%;
    }

    .places-p {
        margin-left: 19%;
    }
}

@media(max-width: 1068px) {
    .carousel {
        margin-top: 10%;
    }
    
    .places-p {
        margin-left: 17%;
    }

    .contact-p {
        margin-left: 23%;
    }
}

@media(max-width: 947px) {
    .places-header {
        margin-left: 40%;
    }

    .places-p {
        margin-left: 13%;
    }

    .contact-header {
        margin-left: 43%;
    }

    .contact-p {
        margin-left: 20%;
    }

    #form {
        margin-left: 24%;
    }
}

@media(max-width: 771px) {
    .logo {
         width: 70vw;
    }

    .navbar {
        margin-top: 10%;
    }

    .carousel {
        margin-top: 10%;
        max-width: 100vw;
        max-height: 400vh;
        margin-left: 0%;
    }

    .headline {
        width: 70%;
        margin-left: 17%;
    }

    .contact-header {
        margin-left: 42%;
    }

    .contact-p {
        margin-left: 14%;
    }

    #form {
        margin-left: 20%;
    }
}

@media(max-width: 375px) {
    .carousel {
        margin-top: 40%;
        width: 100vw;
        height: 50vh !important;
        margin-left: 0%;
    }

    .headline {
    width: 100%;
    margin-left: 0%;
    margin-bottom: -50%;
}

    .about-header {
        margin-left: 45%;
        margin-top: 60%;
    }

    .about-p {
    width: 100%;
    margin-left: 0%;
}

    .map-container {
        background-color: rgb(183, 141, 121);
    }

    .map-header {
    margin-left: 4%;
}

    .map-p {
    width: 100%;
    margin-left: 1%;
}

    #map {
    height: 50vh;
    width: 90vw;
    margin-left: 1%;
    }

    .places-header {
        width: 100%;
        margin-left: 0%;
    }

    .places-p {
        width: 100%;
        margin-left: 0%;
    }

    .card {
        margin-left: 0%;
        width: 100%;
    }

    .card-img-top {
    width: 100%;
    height: 60vw;
    }

    .contact-container {
        background-color: rgb(183, 141, 121);
    }

    .contact-header {
        margin-left: 0%;
    }

    .contact-p {
    width: 100%;
    text-align: center;
    margin-left: 1%;
    }

    #form {
        width: 5vw!important;
        margin-left: 2%;
    }

    input {
    width: 330px;
    }

    textarea {
    width: 330px;
    }

    #submit {
    width: 330px;
    }
}