@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

body {
    background-color: rgb(255, 255, 255);
    width: 100vw;
}

#map {
    width: 80vw;
    height: 80vh;
}

.logo {
    width: 60vw;
    align-content: center;
}

.header-container {
    background-color: rgb(46 16 4);
}

.bg-primary {
    background-color: rgb(46 16 4)!important;
}