@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@500&display=swap');

body {
    background-color: rgb(255, 255, 255);
    width: 100vw;
}

#map {
    width: 80vw;
    height: 80vh;
}

.logo {
    width: 40vw;
    align-content: center;
}

.navbar-toggler {
    margin-left: 80%;
}

.header-container {
    background-color: rgb(46 16 4);
}

.bg-primary {
    background-color: rgb(46, 16, 4)!important;
}

.sage-home {
    margin-left: 15%;
    border: 5px solid rgb(37,67,235);
    border-radius: 50%;
    width: 35vw;
    height: 70vh;
}

.baker {
    width: 30vw;
    height: 70vh;
    border: 5px solid rgb(156, 0, 0);
    
}

.jumbotron {
    background-color: rgb(183, 141, 121);
}

.headline {
    font-family: ABeeZee;
    font-size: 25px;
    margin-top: 5%;
    color: rgb(46, 16, 4);
    padding: 0;
    text-align: center;
}

h1 {
    font-family: 'Cormorant Unicase', serif;
    margin-left: 50%;
    
}

.map-container {
    background-color: rgb(183, 141, 121);
}

.about-p {
    font-family: ABeeZee;
    color: rgb(46, 16, 4);
    width: 60vw;
    margin-left: 33%;
    margin-top: 5%;
    margin-bottom: 11%;
}

.about-header {
    color: rgb(180, 0, 0);
    margin-left: 67%;
    margin-top: 7%;
}

.map-header {
    color: rgb(37,67,235);
    margin-left: 1%;
    margin-top: 11%;
}

.map-p {
    color: rgb(46, 16, 4);
    font-family: ABeeZee;
}

.container {
  overflow: hidden;
}
.bg {
  width:100%;
  height: 200px;
  border-radius: 0 0 50% 50%;
  background-color: rgb(183, 141, 121);
  margin-top:-130px;
}

.places-header {
    color: rgb(180, 0, 0);
    margin-left: 42%;
    margin-top: 7%;
}

.places-p {
    color: rgb(46, 16, 4);
    margin-left: 30%;
    font-family: ABeeZee;
}

.bidhaar {
    width: 541px;
    height: 370px;
    margin-left: 10%;
    margin-top: 7%;
}

.buster {
    width: 541px;
    height: 370px;
    border-radius: 50%;
    margin-top: 7%;
}

.butcher {
    width: 500px;
    height: 400px;
   
}

.dark {
    width: 500px;
    height: 400px;
    border-radius: 50%;
    margin-left: 10%;
    margin-top: 2%;
}
